<div class="container">
    <div class="change-password">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-flex">
                <label for="input">Joriy parol <span>*</span></label>
                <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword"
                    [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }"
                    autocomplete="this-Currentpassword" placeholder="Current password" />
                <span (click)="toggleshowCurrentPassword()" class="eye-icon">
                    <i class="fas" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                <div *ngIf="submitted && f['currentPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['currentPassword'].errors['required']">Hozirgi parol</div>
                </div>
            </div>

            <div class="input-flex">
                <label for="input">Yangi parol <span>*</span></label>
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" autocomplete="this-password" />
                <span (click)="togglePasswordVisibility()" class="eye-icon">
                    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Parol o‘ylab toping</div>
                    <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                    <div *ngIf="f['password'].errors['maxlength']">
                        Password must not exceed 40 characters
                    </div>
                </div>
            </div>

            <div class="input-flex">
                <label for="input">Parolni takrorlang <span>*</span></label>
                <input [type]="showRepeatPassword ? 'text' : 'password'" placeholder="Repeat password*"
                    formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                    autocomplete="this-confirmPassword" />
                <span (click)="toggleRepeatPasswordVisibility()" class="eye-icon">
                    <i class="fas" [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors['required']">
                        Parolni takrorlang
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>
            </div>
            <button>O'zgartitishlarni saqlash</button>
        </form>
        <div class="user-passport">
            <div class="info">
                <img src="../../../../../assets/images/user-cabinet/icons8-lightbulb.svg" />
                <div>
                    <p>Joriy parolingizni, yangi parolingizni kiriting va matn terish xatosi yo'qligiga ishonch hosil
                        qilish uchun yangi parolingizni qayta kiriting.
                    </p>
                    <p>Barcha maydonlar talab qilinadi.</p>
                </div>
            </div>
        </div>
    </div>
</div>