.container {
    width: 1000px;
    border-radius: 17px;
    border: 0.5px solid #058c42;
    background: #ffffff;
    display: flex;
    padding: 30px 30px;
    gap: 30px;

    input:focus {
        border: 1px solid #058c42;
        outline: none;
        box-shadow: 0 0 0 2px rgba(5, 140, 66, 0.5);
    }

    input {
        border-radius: 5px;
        border: 0.3px solid #5F5F5F;
        background: #f5f5f5;
        padding: 5px 5px;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 30px;
        width: 420px;
    }

    .input-flex:last-child input {
        margin-bottom: 0;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: #5f5f5f;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span {
        color: red;
    }

    button {
        background-color: #058c42;
        padding: 10px 10px;
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 8px;
        border: 1px solid #058c42;
        cursor: pointer;
    }

    .is-invalid,
    .was-validated .form-control:invalid {
        border-color: #dc3545;
    }
}

.change-password {
    padding: 15px;
    display: flex;
    gap: 75px;
}

.input-flex {
    display: flex;
    flex-direction: column;
    position: relative;
}

.eye-icon {
    cursor: pointer;
    color: #999 !important;
    position: absolute;
    left: 93%;
    top: 31px;
}

.eye-icon:hover {
    color: #058c42 !important;
}


.invalid-feedback {
    font-size: 90%;
    color: #dc3545;
    position: absolute;
    top: 60px;
}

.user-passport {
    img {
        width: 30px;
        height: 30px;
    }
}

.info {
    border: 1px solid #058c42;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 380px;

    p {
        color: #000000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
    }
}

@media screen and (max-width: 434px) {
  .container{
    max-width: 100% !important;
    padding: 5px;
    border: none;
  }

  .change-password{
    width: 100% !important;
    display: block;
    gap: 1px;
  }

  .input-flex{
    width: 100% !important;
  }

  input{
    width: 100% !important;
    margin-bottom: 13px !important;
  }

  .user-passport{
    display: none !important;
  }
}
