<div class="container1">
  <div class="choose_us">
    <div class="container">
      <div class="content">
        <div class="block_title">
          {{'doslogistic.web.home.whyChooseUs.whyChooseUs' | translate}}
        </div>
        <img src="../../../../assets/images/title_line.png" alt="" />
      </div>

      <div class="chooseus_block">
        <div class="left">
          <img src="../../../../assets/images/chooseUs/chooseUs.png" alt="" />
        </div>

        <div class="right">
          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/high-quality.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.time' | translate}}</span>
            </div>

            <div class="desc">
              <!-- Bizning kompaniyani tanlagan mijozlarga qimmatli <br />
              vaqt va resurslarni qanday tejash va qisqa vaqt ichida <br />
              etkazib berish muddatlari, minimal tranzit <br />
              kechikishlari va ta'minot zanjiri samaradorligi ortadi. -->
              {{'doslogistic.web.home.whyChooseUs.time-paragraph' | translate}}
            </div>
          </div>

          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/money.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.pricing' | translate}}</span>
            </div>

            <div class="desc">
              <!-- Sifat va ishonchlilikka putur etkazmasdan <br />
              raqobatbardosh narxlar tuzilmasi va iqtisodiy jihatdan <br />
              samarali logistika yechimlarini eslatib o'tamiz. -->
              {{'doslogistic.web.home.whyChooseUs.pricing-paragraph' | translate}}
            </div>
          </div>

          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/shield.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.Safety' | translate}}</span>
            </div>

            <div class="desc">
              <!-- Kompaniyamiz xavfsizlik qoidalari va sanoat <br />
              standartlariga qat'iy rioya qilishini ta'kidlab o'tamiz. <br />
              Xavfsizlik va muvofiqlik uchun olgan har qanday <br />
              sertifikat va mukofotlariga ega. -->
              {{'doslogistic.web.home.whyChooseUs.Safety-paragraph' | translate}}
            </div>
          </div>
        </div>
      </div>
      <img src="../../../../assets/images/step_line2.png" alt="img" class="block_line" />
    </div>
  </div>
</div>