<div class="container">
  <h1>{{'doslogistic.web.home.faqs' | translate}}</h1>
  <div class="info">
    <div class="card">
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
    </div>
    <div class="card">
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing </h4>
        <img src="../../../../assets/images/faqs/plus-symbol-button.png" alt="faq-image">
      </div>
    </div>
  </div>
  <!-- <div class="all">
    <button>All Faqs</button>
  </div> -->
</div>
