.container {
  h2 {
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-weight: 600;
  }
}

.page-routing {
  display: flex;
  border-bottom: 0.5px solid #8c8b8b;
  margin-bottom: 20px;
  gap: 20px;

  p {
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 13px;
    position: relative;

    &.active-link {
      color: #058C42;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: #058C42;
      transition: width 0.3s ease-in-out;
    }

    &:hover::before,
    &.active-link::before {
      width: 100%;
    }
  }

  p:hover {
    color: #058C42;
  }
}


@media screen and (max-width: 434px) {
  .container {
    max-width: 100% !important;

    h2 {
      font-size: 25px !important;
    }
  }

  .page-routing {
    justify-content: center;
    border: none;
    margin-bottom: 0;

    p {
      font-size: 17px;

      &::before {
        height: 0px !important;
      }
    }


  }
}
