<div class="header-image">

  <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">

  <div class="image-text">

    <h2>Contact us</h2>
    <p>Lorem Ipsum donor has been the Industry’s standart</p>

  </div>

</div>

<div class="container">

  <div class="continer-top-img">

    <svg xmlns="http://www.w3.org/2000/svg" width="701" height="111" viewBox="0 0 701 111" fill="none">
      <path
        d="M1 1C19.2235 23.3383 61.8317 68.0148 86.4767 68.0148C117.283 68.0148 190.177 -15.9556 230.963 26.0296C271.749 68.0148 300.385 68.0148 327.287 68.0148C354.188 68.0148 401.482 55.0963 427.95 40.563C454.417 26.0296 503.013 13.8395 540.762 40.563C578.51 67.2864 587.188 74.4741 613.655 74.4741C629.999 73.3975 670.148 78.9956 700 110"
        stroke="#058C42" stroke-dasharray="6 6" />
    </svg>

    <img src="../../../../assets/images/contacts/plane 1.png" alt="">

  </div>

  <div class="header-content">

    <!-- germany -->
    <div class="contacts" *ngIf="selectedPage === 'germany'">
      <p>Germaniya</p>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/mail.svg" alt="">
        </div>

        <div>
          <span>Email Address</span>
          <p>u.suyarov@dostlogistics.de</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/location.svg" alt="">
        </div>

        <div>
          <span>Office Address</span>
          <p>Berlin</p>
        </div>
      </div>

    </div>

    <!-- uzbekistan -->
    <div class="contacts" *ngIf="selectedPage === 'uzbekistan'">
      <p>O'zbekiston</p>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/mail.svg" alt="">
        </div>

        <div>
          <span>Email Address</span>
          <p>u.suyarov@dostlogistics.de</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/location.svg" alt="">
        </div>

        <div>
          <span>Office Address</span>
          <p>Toshkent</p>
        </div>
      </div>

    </div>

    <!-- poland -->
    <div class="contacts" *ngIf="selectedPage === 'poland'">
      <p>Polsha</p>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/call.svg" alt="">
        </div>

        <div>
          <span>Phone Number</span>
          <p>+998 99 353 00 35</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/mail.svg" alt="">
        </div>

        <div>
          <span>Email Address</span>
          <p>u.suyarov@dostlogistics.de</p>
        </div>

      </div>

      <div class="cards">

        <div class="card-icon">
          <img src="../../../../assets/images/contacts/location.svg" alt="">
        </div>

        <div>
          <span>Office Address</span>
          <p>Varshava</p>
        </div>
      </div>

    </div>

    <div class="send-message">

      <p>Get in Touch <span>With Us</span></p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="inputs">

          <div class="inputs-sty">
            <input type="text" placeholder="Full Name" formControlName="fullName" class="input-style"
              [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }" autocomplete="this-name" />
            <div *ngIf="submitted && f['fullName'].errors" class="form-invalid">
              <div *ngIf="f['fullName'].errors['required']">Name is required</div>
            </div>
          </div>

          <div class="inputs-sty">
            <input type="email" placeholder="Email" class="input-style" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="this-email" />
            <div *ngIf="submitted && f['email'].errors" class="form-invalid">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>

          <div class="inputs-sty">
            <input type="text" placeholder="Subject" formControlName="subject" class="input-style"
              [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }" autocomplete="this-subject" />
            <div *ngIf="submitted && f['subject'].errors" class="form-invalid">
              <div *ngIf="f['subject'].errors['required']">Subject is required</div>
            </div>
          </div>

          <div class="inputs-sty">
            <input type="text" placeholder="City" formControlName="city" class="input-style"
              [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" autocomplete="this-subject" />
            <div *ngIf="submitted && f['city'].errors" class="form-invalid">
              <div *ngIf="f['city'].errors['required']">Phone is required</div>
            </div>
          </div>

          <div class="inputs-sty">
            <input type="text" placeholder="phone" formControlName="phone" class="input-style"
              [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" autocomplete="this-subject" />
            <div *ngIf="submitted && f['phone'].errors" class="form-invalid">
              <div *ngIf="f['phone'].errors['required']">Phone is required</div>
            </div>
          </div>

          <div class="inputs-sty">
            <textarea type="text" placeholder="Message" formControlName="text" class="input-style"
              [ngClass]="{ 'is-invalid': submitted && f['text'].errors }" autocomplete="this-message"></textarea>
            <div *ngIf="submitted && f['text'].errors" class="form-invalid2">
              <div *ngIf="f['text'].errors['required']">Message is required</div>
            </div>
          </div>

          <button>Send Message <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"
              fill="none">
              <path
                d="M1.20339 16.6505L4.63121 10.7536C4.90213 10.2875 4.90212 9.71194 4.63119 9.24589L1.20341 3.34955C1.07031 3.1206 0.993597 2.85976 1.01553 2.59585C1.0742 1.88991 1.31461 1.38677 1.96127 1.26742C2.16916 1.22905 2.38054 1.28492 2.57347 1.37137L19.2658 8.85077C19.4846 8.94883 19.6696 9.10818 19.7064 9.34514C19.7647 9.71969 19.7645 10.2875 19.7059 10.66C19.6691 10.8937 19.4863 11.0504 19.2704 11.1472L2.57324 18.6287C2.38046 18.7151 2.16925 18.7709 1.9615 18.7327C1.31465 18.6135 1.0742 18.1102 1.01553 17.4041C0.993598 17.1402 1.0703 16.8794 1.20339 16.6505Z"
                stroke="white" stroke-linecap="round" />
              <path d="M19.5 10L5.37281 9.99982" stroke="white" stroke-linecap="round" />
            </svg>
          </button>

        </div>

      </form>

    </div>

  </div>

  <dov class="pages-content">

    <div class="pages">

      <p (click)="showUzbekistan()" [ngClass]="{ 'active-link': selectedPage === 'uzbekistan' }">O’zbekistondagi manzil
      </p>
      <p (click)="showGermany()" [ngClass]="{ 'active-link': selectedPage === 'germany' }">Germaniyadagi manzil</p>
      <p (click)="showPoland()" [ngClass]="{ 'active-link': selectedPage === 'poland' }">Polshadagi manzil</p>

    </div>

  </dov>

  <div class="map-content" *ngIf="selectedPage === 'uzbekistan'">

    <div class="map-container">

      <ya-map [center]="[41.2995, 69.2401]" [zoom]="12">
        <ya-placemark [geometry]="[41.2995, 69.2401]" [properties]="{ balloonContent: 'Tashkent Location' }"
          [options]="{ iconColor: '#058C42' }"></ya-placemark>
      </ya-map>

    </div>

  </div>

  <div class="map-content" *ngIf="selectedPage === 'germany'">

    <div class="map-container">

      <ya-map [center]="[52.5200, 13.4050]" [zoom]="12">
        <ya-placemark [geometry]="[52.5300, 13.4150]" [properties]="{ balloonContent: 'Germany Location' }"
          [options]="{ iconColor: '#058C42' }"></ya-placemark>
      </ya-map>

    </div>

  </div>

  <div class="map-content" *ngIf="selectedPage === 'poland'">

    <div class="map-container">

      <ya-map [center]="[52.2297, 21.0122]" [zoom]="12">
        <ya-placemark [geometry]="[52.2297, 21.0122]" [properties]="{ balloonContent: 'Warsaw Location' }"
          [options]="{ iconColor: '#058C42' }"></ya-placemark>
      </ya-map>

    </div>

  </div>

</div>
