<div class="container">
  <div class="content">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array">
        <img src="{{index}}" alt="">
      </div>
    </nz-carousel>
  </div>
  <div class="service_info">
    <div class="title">
      Har qanday joyga <br>
      Yetkazib beramiz. <br>
      Tez va oson!
    </div>
    <div class="desc">
      {{'doslogistic.web.footer.logo.info' | translate}}
    </div>
    <div class="main_button">
      <a href="#">{{'doslogistic.web.home.howdoesItWork.shopOnline.order' | translate}}</a>
    </div>
  </div>
</div>
<!--  -->
