<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content">
        <div class="user-details">
            <div class="user-names">
                <div>
                    <label for="input">Ism <span>*</span></label>
                    <input type="text" placeholder="Bilol" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                        formControlName="name">
                    <div *ngIf="submitted && f['name'].hasError('required') && !f['name'].hasError('requiredTrue')"
                        class="invalid-feedback">
                        Majburiy maydon
                    </div>
                </div>
                <div>
                    <label for="input">Familiya <span>*</span></label>
                    <input type="text" placeholder="Qobilov"
                        [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }" formControlName="surname">
                    <div *ngIf="submitted && f['surname'].hasError('required') && !f['surname'].hasError('requiredTrue')"
                        class="invalid-feedback">
                        Majburiy maydon
                    </div>
                </div>
            </div>
            <div class="other-data">
                <div class="data-flex">
                    <label for="input">Seriya va pasport raqami <span>*</span></label>
                    <input type="text" placeholder="AA1234567"
                        [ngClass]="{ 'is-invalid': submitted && f['passportNum'].errors }"
                        formControlName="passportNum">
                    <div *ngIf="submitted && f['passportNum'].hasError('required') && !f['passportNum'].hasError('requiredTrue')"
                        class="invalid-feedback">
                        Majburiy maydon
                    </div>
                </div>
                <div class="data-flex">
                    <label for="input">JSHIR <span>*</span></label>
                    <input type="number" placeholder="1234567890111213141516"
                        [ngClass]="{ 'is-invalid': submitted && f['passportData'].errors }"
                        formControlName="passportData">
                    <div *ngIf="submitted && f['passportData'].hasError('required') && !f['passportData'].hasError('requiredTrue')"
                        class="invalid-feedback">
                        Majburiy maydon
                    </div>
                </div>
            </div>
            <div class="user-gender user-gender1">
                <label for="checkbox">Jinsi</label>
                <div class="checkbox-flex" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }">
                    <div>
                        <input type="checkbox" id="male" formControlName="acceptTerms">
                        <label for="male" class="circle-label">Erkak</label>
                    </div>
                    <div>
                        <input type="checkbox" id="female" formControlName="acceptTerms">
                        <label for="female" class="circle-label">Ayol</label>
                    </div>
                    <div *ngIf="submitted && f['acceptTerms'].hasError('required') && !f['acceptTerms'].hasError('requiredTrue')"
                        class="invalid-feedback2">
                        Majburiy maydon
                    </div>
                </div>
            </div>
            <div class="other-data">
                <div class="data-flex">
                    <label for="input">Tugʻilgan kun</label>
                    <input type="text" placeholder="Tugulgan kun" formControlName="birthDate"
                        [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }" autocomplete="this-birthDate">
                    <div *ngIf="submitted && f['birthDate'].errors" class="invalid-feedback">
                        <div *ngIf="f['birthDate'].errors['required']">Tugulgan kun is required</div>
                    </div>
                </div>
                <div class="data-flex">
                    <label for="input">Telefon raqami</label>
                    <input type="tel" id="mobile_code" placeholder="Phone Number" name="phone" class="input-style"
                        formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
                        autocomplete="this-phoneNumber">
                    <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                        <div *ngIf="f['phoneNumber'].errors['required']">Phone number is required</div>
                        <div *ngIf="f['phoneNumber'].hasError('minlength')">Phone number is invalid</div>
                    </div>
                </div>
                <div class="data-flex">
                    <label for="input">E-mail</label>
                    <input type="email" formControlName="email" placeholder="bill@gmail.com"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="this-email">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                    </div>
                </div>
            </div>
            <div class="user-gender user-gender2">
              <label for="checkbox">Jinsi</label>
              <div class="checkbox-flex" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }">
                  <div>
                      <input type="checkbox" id="male" formControlName="acceptTerms">
                      <label for="male" class="circle-label">Erkak</label>
                  </div>
                  <div>
                      <input type="checkbox" id="female" formControlName="acceptTerms">
                      <label for="female" class="circle-label">Ayol</label>
                  </div>
                  <div *ngIf="submitted && f['acceptTerms'].hasError('required') && !f['acceptTerms'].hasError('requiredTrue')"
                      class="invalid-feedback2">
                      Majburiy maydon
                  </div>
              </div>
          </div>
            <button>O'zgartitishlarni saqlash</button>
        </div>
        <div class="user-passport">
            <div class="info">
                <img src="../../../../../assets/images/user-cabinet/icons8-lightbulb.svg" />
                <div>
                    <p>Buyurtma berish bilan bogʻliq muammolarni oldini olish uchun haqiqiy maʼlumotlarni
                        koʻrsating.
                    </p>
                    <p>bilan maydonlar <span>*</span> yulduzcha belgilari talab qilinadi.</p>
                </div>
            </div>
            <div class="passort-image">
                <img src="../../assets/images/user-cabinet/passport.jpeg" alt="">
            </div>
        </div>
    </div>
</form>
