.content{
  padding: 20px 0;
}

.div{
  width: 1320px;
  margin: 0 auto;
}

.bg-color{
  position: relative;
}


@media screen and (max-width: 700px) {
  .bg-color::before,
  .bg-color::after{
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .bg-color::before,
  .bg-color::after{
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .bg-color::before,
  .bg-color::after{
    width: 400px;
  }
}


