<div class="container">
  <div class="carusel">
    <app-carusel></app-carusel>
  </div>
  <div class="bg-color">
    <div>
      <div class="content">
        <app-how-is-it-work></app-how-is-it-work>
      </div>
    </div>
  </div>
  <div class="content">
    <app-prices></app-prices>
  </div>
  <div class="content">
    <app-stores></app-stores>
  </div>
  <div class="content">
    <app-choose-us></app-choose-us>
  </div>
  <div class="content">
    <app-reviews></app-reviews>
  </div>
  <div class="content">
    <app-map></app-map>
  </div>
  <div class="div">
    <!-- <div class="content">
      <app-prices></app-prices>
    </div> -->
    <!-- <div class="content">
      <app-faq></app-faq>
    </div> -->
  </div>
</div>