<div class="tariffs">
  <div class="info">
    <h1>{{ "doslogistic.web.price.tariffs" | translate }}</h1>
    <h1 class="h2">
      {{ "doslogistic.web.price.ourRates.ourRates" | translate }}
    </h1>

    <div class="content-table">
      <div class="line">
        <div class="left">
          <p class="p">
            {{ "doslogistic.web.price.ourRates.shipmentWeightOne" | translate }}
          </p>
          <p>$10/{{ "doslogistic.web.price.kg" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.ourRates.minimumWeight" | translate }}
          </p>
          <p>1 {{ "doslogistic.web.price.kg" | translate }}</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{ "doslogistic.web.price.ourRates.shipmentWeightTwo" | translate }}
          </p>
          <p>$9/{{ "doslogistic.web.price.kg" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{
              "doslogistic.web.price.ourRates.receivingShipments" | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{
              "doslogistic.web.price.ourRates.shipmentWeightTree" | translate
            }}
          </p>
          <p>$9/{{ "doslogistic.web.price.kg" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.ourRates.consolidationCost" | translate }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="info info-two">
    <div class="content-table">
      <h1 class="h2">
        {{
          "doslogistic.web.price.localDeliveryRates.localDeliveryRates"
            | translate
        }}
      </h1>
      <div class="line">
        <div class="left left2">
          <p class="p">
            {{
              "doslogistic.web.price.localDeliveryRates.localDeliveryRatesOne"
                | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
      </div>
      <div class="line">
        <div class="left left2">
          <p class="p">
            {{
              "doslogistic.web.price.localDeliveryRates.localDeliveryRatesTwo"
                | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
      </div>
      <div class="line">
        <div class="left left2">
          <p class="p">
            {{
              "doslogistic.web.price.localDeliveryRates.localDeliveryRatesThree"
                | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="info info-two">
    <h1 class="h2">
      {{ "doslogistic.web.price.tariffsForStorage.tariffsForStorage" | translate }}
    </h1>

    <div class="content-table">
      <div class="line">
        <div class="left">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.commissionWhenFillingTheAccount" | translate }}
          </p>
          <p>Komissiya yo'q</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.Photograph" | translate }}
          </p>
          <p>$0</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.receivingShipmentsToTheWarehouse" | translate }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{
              "doslogistic.web.price.tariffsForStorage.registeringUnknownPerson" | translate
            }}
          </p>
          <p>4$</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{
              "doslogistic.web.price.tariffsForStorage.consolidationService" | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.outboundPackageRepackaging" | translate }}
          </p>
          <p>$2</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{
              "doslogistic.web.price.tariffsForStorage.deleteAccountInvoices" | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.openingTheIncomingShipmentPhoto" | translate }}
          </p>
          <p>$1</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{
              "doslogistic.web.price.tariffsForStorage.unpackingShoes" | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.checkTheProductPhoto" | translate }}
          </p>
          <p>$2</p>
        </div>
      </div>
      <div class="line">
        <div class="left">
          <p class="p">
            {{
              "doslogistic.web.price.tariffsForStorage.storageOfIncomingShipments" | translate
            }}
          </p>
          <p>{{ "doslogistic.web.price.free1" | translate }}</p>
        </div>
        <div class="right">
          <p class="p">
            {{ "doslogistic.web.price.tariffsForStorage.returningTheProductStore" | translate }}
          </p>
          <p>$2</p>
        </div>
      </div>
    </div>
  </div>
</div>
