<div class="container">
  <h2 class="header-title">Dashboard</h2>

  <div class="delivery-datas">
    <div class="income">
      <img src="../../../../../assets/images/user-cabinet/image 1.png" alt="" />
      <div class="income-txt">
        <h3>Kiruvchi Posilkalar <span>26</span></h3>
        <p>Kutilayotgan va omborxonadagilar</p>
      </div>
    </div>
    <div class="income">
      <img src="../../../../../assets/images/user-cabinet/image 2.png" alt="" />
      <div class="income-txt">
        <h3>Chiquvchi Posilkalar <span>6</span></h3>
        <p>Yuborilgan posilkalar</p>
      </div>
    </div>
  </div>

  <div class="statistics">
    <div class="statistics-txt">
      <p>Expenses Report</p>
      <span>
        <img
          src="../../../../../assets/images/user-cabinet/chart-up-1.svg"
          alt=""
        />
        58%</span
      >
    </div>
    <div id="main" class="chart-container"></div>
  </div>

  <div class="location">
    <div class="location-box">
      <div class="box-txt">
        <p>Polshadagi Manzil</p>
        <span><i class="fa-solid fa-location-dot"></i> Polsha</span>
      </div>

      <div class="location-details">
        <div class="location-data">
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/user.svg"
              alt=""
            />
            <p>Ism</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/user.svg"
              alt=""
            />
            <p>Familiya</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/map.svg"
              alt=""
            />
            <p>Adress Line 1</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/map.svg"
              alt=""
            />
            <p>Adress Line 2</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/call.svg"
              alt=""
            />
            <p>Telephone</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/call.svg"
              alt=""
            />
            <p>Cell</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/truck.svg"
              alt=""
            />
            <p>Zip Code</p>
          </div>
        </div>

        <div class="location-data">
          <div class="tooltip" (click)="copyToClipboard('Xumoyunmirzo')">
            Xumoyunmirzo
          </div>
          <div class="tooltip" (click)="copyToClipboard('Yakubjonov BHGEJ')">
            Yakubjonov BHGEJ
          </div>
          <div
            class="tooltip"
            (click)="copyToClipboard('10254, Avenue1, Germany')"
          >
            10254, Avenue1, Poland
          </div>
          <div
            class="tooltip"
            (click)="copyToClipboard('10254, Avenue 12, Germany')"
          >
            10254, Avenue 12, Poland
          </div>
          <div class="tooltip" (click)="copyToClipboard('+1 (953) 566 56 56')">
            +1 (953) 566 56 56
          </div>
          <div class="tooltip" (click)="copyToClipboard('+1 (953) 493 56 68')">
            +1 (953) 493 56 68
          </div>
          <div class="tooltip" (click)="copyToClipboard('120560')">120560</div>
        </div>
      </div>
    </div>

    <div class="location-box">
      <div class="box-txt">
        <p>Germaniyadagi Manzil</p>
        <span><i class="fa-solid fa-location-dot"></i> Germaniya</span>
      </div>

      <div class="location-details">
        <div class="location-data">
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/user.svg"
              alt=""
            />
            <p>Ism</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/user.svg"
              alt=""
            />
            <p>Familiya</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/map.svg"
              alt=""
            />
            <p>Adress Line 1</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/map.svg"
              alt=""
            />
            <p>Adress Line 2</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/call.svg"
              alt=""
            />
            <p>Telephone</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/call.svg"
              alt=""
            />
            <p>Cell</p>
          </div>
          <div class="location-sty">
            <img
              src="../../../../../assets/images/user-cabinet/address-images/truck.svg"
              alt=""
            />
            <p>Zip Code</p>
          </div>
        </div>

        <div class="location-data">
          <div class="tooltip" (click)="copyToClipboard('Xumoyunmirzo')">
            Xumoyunmirzo
          </div>
          <div class="tooltip" (click)="copyToClipboard('Yakubjonov BHGEJ')">
            Yakubjonov BHGEJ
          </div>
          <div
            class="tooltip"
            (click)="copyToClipboard('10254, Avenue1, Germany')"
          >
            10254, Avenue1, Germany
          </div>
          <div
            class="tooltip"
            (click)="copyToClipboard('10254, Avenue 12, Germany')"
          >
            10254, Avenue 12, Germany
          </div>
          <div class="tooltip" (click)="copyToClipboard('+1 (953) 566 56 56')">
            +1 (953) 566 56 56
          </div>
          <div class="tooltip" (click)="copyToClipboard('+1 (953) 493 56 68')">
            +1 (953) 493 56 68
          </div>
          <div class="tooltip" (click)="copyToClipboard('120560')">120560</div>
        </div>
      </div>
    </div>
  </div>

  <div class="address-txt">
    <img src="../../../../../assets/images/user-cabinet/infor.svg" alt="" />
    <div class="address-text">
      <p>
        <span>Adress Line 2 </span>maydonini xaridni ro'yxatga olish vaqtida
        to'ldirishingizni so'rab qolamiz. Chunki bu sizning identifikatsiya
        kodingiz. Agar siz tegishli maydonni topmasangiz, ismingiz yonida
        to'ldiring.
      </p>
    </div>
  </div>

  <!-- <div class="delivery-status">

        <div class="status-data-header">
            <p>Omborxona</p>
            <p class="status-date">Sana</p>
            <p class="status-opening">Ochilish vaqti</p>
            <p>Yopilish vaqti</p>
            <p class="status-condition">Holati</p>
        </div>

        <div class="status-data">
            <p>Germaniya, Berlin</p>
            <p>17/09/2023</p>
            <p>16.00</p>
            <p>17.00</p>
            <span class="open">ochiq</span>
        </div>

        <div class="status-data">
            <p>Germaniya, Berlin</p>
            <p>17/09/2023</p>
            <p>16.00</p>
            <p>17.00</p>
            <span class="close">yopiq</span>
        </div>

        <div class="status-data">
            <p>Germaniya, Berlin</p>
            <p>17/09/2023</p>
            <p>16.00</p>
            <p>17.00</p>
            <span class="close">yopiq</span>
        </div>

        <div class="status-data">
            <p>Germaniya, Berlin</p>
            <p>17/09/2023</p>
            <p>16.00</p>
            <p>17.00</p>
            <span class="close">yopiq</span>
        </div>

        <div class="status-data">
            <p>Germaniya, Berlin</p>
            <p>17/09/2023</p>
            <p>16.00</p>
            <p>17.00</p>
            <span class="close">yopiq</span>
        </div>
    </div> -->

  <div class="card-footer">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let card of cards">
        <ng-template carouselSlide [id]="card.id.toString()">
          <div class="card-sty">
            <img [src]="card.image" alt="" />
            <p>{{ card.title }}</p>
            <span>{{ card.subtitle }}</span>
            <button (click)="redirectToDetails(card)">Batafsil ma’lumot</button>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="card-mobile">
    <div class="card-sty">
      <img [src]="" alt="" />
      <p></p>
      <span></span>
      <button>Batafsil ma’lumot</button>
    </div>
    <div class="card-sty">
      <img [src]="" alt="" />
      <p></p>
      <span></span>
      <button>Batafsil ma’lumot</button>
    </div>
    <div class="card-sty">
      <img [src]="" alt="" />
      <p></p>
      <span></span>
      <button>Batafsil ma’lumot</button>
    </div>
    <div class="card-sty">
      <img [src]="" alt="" />
      <p></p>
      <span></span>
      <button>Batafsil ma’lumot</button>
    </div>

  </div>
</div>
