<div class="container1">
  <div class="pricing">
    <div class="container">
      <div class="block_title">{{'doslogistic.web.footer.aboutCompony.price' | translate}}</div>

      <div class="pricing_block">
        <div class="pricing_item ">
          <div class="pricing_top">
            <div class="price">12$</div>
            <span>per kilogram</span>
          </div>

          <div class="pricing_body">
            <div class="body_item">
              <img src="../../../../assets/langs/ge.png" alt="" />
              {{'doslogistic.web.home.delivery.card.country' | translate}}
              {{'doslogistic.web.contacts.Germany' | translate}}
            </div>

            <div class="body_item">{{'doslogistic.web.home.delivery.card.middle' | translate}}</div>

            <div class="body_item">{{'doslogistic.web.home.delivery.card.minPrice' | translate}} 1.2$</div>

            <div class="body_item">{{'doslogistic.web.home.delivery.card.max' | translate}} 12 tonna</div>

            <div class="main_button">
              <a href="#">{{'doslogistic.web.home.howdoesItWork.shopOnline.order' | translate}}</a>
            </div>
          </div>
        </div>

        <div class="pricing_item2">
          <div class="pricing_top2">
            <div class="price">10$</div>
            <span>per kilogram</span>
          </div>

          <div class="pricing_body2">
            <div class="body_item2">
              <img src="../../../../assets/images/countries/poland_flag.jpg" alt="" />
              {{'doslogistic.web.home.delivery.card.country' | translate}}
              {{'doslogistic.web.contacts.Poland' | translate}}
            </div>

            <div class="body_item2">{{'doslogistic.web.home.delivery.card.middle' | translate}}</div>

            <div class="body_item2">{{'doslogistic.web.home.delivery.card.minPrice' | translate}} 1.2$</div>

            <div class="body_item2">{{'doslogistic.web.home.delivery.card.max' | translate}} 15 tonna</div>

            <div class="main_button">
              <a href="#">{{'doslogistic.web.home.howdoesItWork.shopOnline.order' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>