<div class="tariffs">
  <div class="info">
    <h1>{{ "doslogistic.web.help.delivery.dangerous" | translate }}</h1>
    <div class="content-table">
      <h2>{{ "doslogistic.web.help.delivery.firststep.first" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.second" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.third" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.four" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.five" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.six" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.seven" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.eight" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.nine" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.ten" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.eleven" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.twelve" | translate }}</h2>
      <h2>{{ "doslogistic.web.help.delivery.firststep.thirteen" | translate }}</h2>
    </div>
  </div>
</div>
