.content {
  h2 {
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  position: relative;
}

.page-routing {
  display: flex;
  height: 60px;

  p {
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 17px 0px;
    margin: 0 20px;
  }

  p:hover {
    color: #058c42;
  }
}


.page-routing .btn1:nth-child(1) {
  margin-left: 0 !important;
}

.add-button {
  background-color: #058c42;
  display: flex;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 180px;
  right: 80px;
  padding: 7px 25px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  border: 1px solid #058c42;
  outline: none;
}

.add-button:hover {
  background-color: #10ab55;
}

.page-routing {
  display: flex;
  border-bottom: 0.5px solid #8c8b8b;
  margin-bottom: 20px;
  margin-right: 4px;
  gap: 20px;

  p {
      color: #000000;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 13px;
      position: relative;

      &.active-link {
          color: #058C42;
      }

      &::before {
          content: "";
          position: absolute;
          bottom: -14px;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: #058C42;
          transition: width 0.3s ease-in-out;
      }

      &:hover::before,
      &.active-link::before {
          width: 100%;
      }
  }

  p:hover {
      color: #058C42;
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100% !important;
  margin-top: 20px;
  border: 0.5px solid #058c42;
  border-radius: 17px;
  height: 620px;
  text-align: center;
}

.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid #ccffe3;
  border-radius: 50%;
  background: #ccffe3;
  margin: 70px 170px 0 170px;
}

.container .box .icon {
  font-size: 30px;
  color: #058c42;
}

.container .title .first {
  font-size: 20px;
  padding: 20px 270px 0px 270px;
  color: #058c42;
  text-align: center;
  margin: 0;
}

.container .title .second {
  font-size: 20px;
  padding: 0px 270px 10px 270px;
  color: #058c42;
  text-align: center;
  margin: 0;
}

.addParcels {
  background-color: #058c42;
  display: flex;
  padding: 10px;
  height: 40px;
  width: 260px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;

  i {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}

.addParcels:hover {
  background-color: #10ab55;
}

/* The modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Add a class to fade in the modal */
.modal.fade-in {
  opacity: 1;
  pointer-events: auto;
}

/* Modal content */
.modal-content {
  margin: 9% auto;
  width: 660px;
  text-align: center;
  transition: transform 0.3s ease;
  background: #fff;
  box-shadow: 0 2px 19px rgba(0, 0, 0, .0700667);
  border-radius: 10px;
  border-color: rgba(0, 0, 0, .1);
  position: relative;
}


.modal-heder {
  display: flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #dad7d6;
}

/* Close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-right: 16px;
}

.close:hover {
  color: #058C42;
}

.modal-header {
  color: #212121;
  font-size: 20px;
}


// modal steps

.modal-steps {
  padding: 35px 25px;
  border-bottom: 1px solid #dad7d6;
}


.choose-country {
  font-size: 18px;
  display: flex;
  gap: 10px;

  span {
    color: red;
  }
}

.choose-count {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.text-about {
  font-size: 14px;
  color: #73849a;
  text-align: left;
  margin-top: 10px;
}

.display-flex {
  display: flex;
  gap: 10px;
}

.country-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 23px;
}

.country-boxes {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eaedf3;
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;

  p {
    font-size: 16px;
    margin-top: 12px;
    color: #212121;
    margin-bottom: 0;
  }

  i {
    font-size: 25px;
    color: gray;
  }
}

.country-boxes:hover {
  border-color: #058C42;
  color: #058C42;
  cursor: pointer;
}

.current-step {
  border-radius: 50%;
  border: 1px solid #058C42;
  color: #058C42;
  width: 30px;
  margin-bottom: 0;
}

.country-box {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eaedf3;
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 16px;
    margin-top: 20px;
    color: #212121;
    margin-bottom: 0;
    width: 100px;
  }

  i {
    font-size: 25px;
    color: gray;
  }
}

.country-box:hover {
  border-color: #058C42;
  cursor: pointer;

  p {
    color: #058C42;
  }

  i {
    color: #058C42;
  }
}

.country-box:active {
  border-color: #058C42;
  color: #058C42;
  cursor: pointer;
  background-color: rgb(169, 89, 4, 0.2);
}


.previous-btn {
  position: absolute;
  top: 0;
  left: 20px;

  span {
    color: #aaaaaa;
    font-size: 40px;
    cursor: pointer;
  }

  span:hover {
    color: #058C42;
  }
}


.add-order-box {
  border-top: 1px solid #dad7d6;
  border-bottom: 1px solid #dad7d6;
  margin-top: 10px;
  padding-bottom: 15px;
}

.add-order-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  p {
    color: #73849a;
    font-size: 15px;
    padding-left: 5px;
  }

  span {
    color: red;
  }
}

.name-order {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    width: 274px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    border-radius: 5px;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

.quantity {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    width: 100px;
    border-radius: 5px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

input::placeholder {
  color: #73849a;
  font-size: 15px
}

.input-sty {
  display: flex;
  justify-content: end;
  align-items: center;

  p {
    margin-bottom: 0;
    color: #73849a;
    border: 1px solid #dad7d6;
  }
}

.input-sht {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dad7d6;
  width: 28px;
  color: #058c42;
  font-size: 15px;
  border-radius: 5px;
  height: 31.88px;
}


.add-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;

  button {
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #058c42;
    background-color: white;
    color: #058c42;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: #FAF9F6;
  }

  i {
    margin-right: 2px;
  }
}

.divs-sty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  column-gap: 10px;
}

.delete-btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.delete-button {
  border: 1px solid #dad7d6;
  padding: 1px 9px;
  border-radius: 5px;
  cursor: pointer;

  i {
    color: red;
  }
}


.order-weight {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 10px;
  margin-bottom: -20px;

  p {
    margin-bottom: 10px;
    color: #73849a;
    font-size: 15px;
  }

  input {
    width: 100px;
    border-radius: 5px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

.user-address {
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 20px;
  border-radius: 6px;
  align-items: flex-start;
  margin-top: 20px;
}

.user-details {
  display: flex;
  align-items: baseline;
  padding-bottom: 18px;

  i {
    color: #058C42;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
  }
}


// order
.step-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 25px 15px;
}

.step-counter-left {
  font-size: 16px;
}

.order-steps {
  display: flex;
  justify-content: end;
}

.order-step {
  width: 25px;
  height: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.order-step.active {
  background-color: #058c42;
  border-color: #058c42;
  color: #fff;
}

.continue-btn {
  button {
    background-color: #058c42;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    min-width: 150px;
    min-height: 38px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #058c42;
  }

  i {
    font-weight: 600;
  }
}

// bottom link
.bottom-link{
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.bottom-link .bottom-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottom-link .bottom-btn .bottom-div{
  background-color: #efefef;
  display: flex;
  padding: 20px 10px 21px;
  height: 80px;
  width: 33.3%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  i {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;

  }
}
.bottom-link .bottom-btn .bottom-div:hover{
  background-color: #e3e3e3;
  border: 2px solid #efefef;
}

@media screen and (max-width: 434px) {
  .page-routing {
    display: none !important;
  }

  .mobile{
    p{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }

  // .page-routing {
  //   display: flex;
  //   border-bottom: 0.5px solid #8c8b8b;
  //   margin-bottom: 20px;
  //   margin-right: 4px;
  //   gap: 20px;

  //   p {
  //       color: #000000;
  //       text-align: center;
  //       font-family: Inter;
  //       font-size: 20px;
  //       font-weight: 500;
  //       cursor: pointer;
  //       margin-bottom: 13px;
  //       position: relative;

  //       &.active-link {
  //           color: #058C42;
  //       }

  //       &::before {
  //           content: "";
  //           position: absolute;
  //           bottom: -14px;
  //           left: 0;
  //           width: 0%;
  //           height: 2px;
  //           background-color: #058C42;
  //           transition: width 0.3s ease-in-out;
  //       }

  //       &:hover::before,
  //       &.active-link::before {
  //           width: 100%;
  //       }
  //   }

  //   p:hover {
  //       color: #058C42;
  //   }
  // }
}
