@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
.block_title {
	color: var(--Primary, #058C42);
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 64px;
}

@media screen and (max-width: 434px) {
  .header-title{
    font-size: 30px !important;
  }
}
