<div class="services">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div>
      <h1>{{'doslogistic.web.navbar.services' | translate}}</h1>
    </div>
  </div>
  <div class="middle-container">
    <div class="content-service">
      <div class="content">
        <div class="service-info">
          <div class="h2-text">
            <h2>{{'doslogistic.web.help.services.service-header' | translate}}</h2>
          </div>
          <p>
            {{'doslogistic.web.help.services.info' | translate}}
          </p>
        </div>
        <img src="../../../../assets/images/services/service-1.png" alt="" />
      </div>
    </div>
    <div class="info">
      <h1>We offer diverse services</h1>
    </div>
    <div class="service-container">
      <div class="service-content">
        <img src="../../../../assets/images/how-is-it-work/ro'yhatdan o'ting.svg" alt="">
        <h3 [innerHTML]="'doslogistic.web.home.howdoesItWork.register.register' | translate"></h3>
        <p>Sit amet est placerat in egestas
          erat imperdiet sed euismod.
          Risus nec feugiat in fermentum
          posuere urna nec tincidunt.
          Luctus accumsan tortor posuere
          ac ut consequat. Rhoncus aenean
          vel elit scelerisque mauris.</p>
      </div>
      <div class="service-content">
        <img src="../../../../assets/images/services/bag.png" alt="">
        <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
        <p>Sit amet est placerat in egestas
          erat imperdiet sed euismod.
          Risus nec feugiat in fermentum
          posuere urna nec tincidunt.
          Luctus accumsan tortor posuere
          ac ut consequat. Rhoncus aenean
          vel elit scelerisque mauris.</p>
      </div>
      <div class="service-content">
        <img src="../../../../assets/images/services/car.png" alt="">
        <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
        <p>Sit amet est placerat in egestas
          erat imperdiet sed euismod.
          Risus nec feugiat in fermentum
          posuere urna nec tincidunt.
          Luctus accumsan tortor posuere
          ac ut consequat. Rhoncus aenean
          vel elit scelerisque mauris.
        </p>
      </div>
      <div class="service-content">
        <img src="../../../../assets/images/services/time.png" alt="">
        <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
        <p>{{'doslogistic.web.home.whyChooseUs.time-paragraph' | translate}}</p>
      </div>
      <div class="service-content">
        <img src="../../../../assets/images/services/cash.png" alt="">
        <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
        <p>{{'doslogistic.web.home.whyChooseUs.pricing-paragraph' | translate}}</p>
      </div>
      <div class="service-content">
        <img src="../../../../assets/images/services/shield.png" alt="">
        <h3>{{'doslogistic.web.home.whyChooseUs.Safety' | translate}}</h3>
        <p>{{'doslogistic.web.home.whyChooseUs.Safety-paragraph' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="../../../../assets/images/services/background.png" alt="">
    <div class="backgroun-header">
      <h1>Moving & Hiring Services</h1>
      <p>Donec ac odio tempor orci dapibus ultrices in. Sit amet commodo
        nulla facilisi nullam vehicula. Tristique et egestas quis ipsum
        suspendisse ultrices gravida dictum.
      </p>
    </div>
  </div>
  <div class="middle-container">
    <div class="contact-us">
      <h1 class="title">{{ "doslogistic.web.aboutUs.team-header" | translate }}</h1>
      <p>
        {{ "doslogistic.web.aboutUs.team" | translate }}
      </p>
      <h1 class="call">{{ "doslogistic.web.contacts.contacts" | translate }} +49 176 72565204 </h1>
    </div>
  </div>
</div>